[Desktop Entry]
Version=1.0
Type=Application
Name=GreenBrain Installer
Comment=Install GreenBrain Customer Local
Exec=sh -c 'cd "$(dirname "%k")" && chmod +x INSTALLA_GREENBRAIN_LINUX.run && ./INSTALLA_GREENBRAIN_LINUX.run'
Icon=utilities-terminal
Terminal=true
Categories=Utility;
