[Desktop Entry]
Version=1.0
Type=Application
Name=GreenBrain Installer
Comment=Install GreenBrain Customer Local
Exec=bash -lc "cd \"$(dirname \"%k\")\" && chmod +x INSTALL_GREENBRAIN.sh && ./INSTALL_GREENBRAIN.sh"
Icon=./base/frontend-dist/favicon.ico
Terminal=true
Categories=Utility;
StartupNotify=true
