[Unit]
Description=GreenBrain - Daily RAW to Features Pipeline
After=network-online.target
Wants=network-online.target

[Service]
Environment=APP_ENV=dev
Type=oneshot
User=gh
Group=gh
WorkingDirectory=/opt/greenbrain-platform
ExecStart=/bin/bash -lc '/opt/greenbrain-platform/orchestration/jobs/pipeline/run_daily_pipeline.sh'
Nice=5
IOSchedulingClass=best-effort
IOSchedulingPriority=5
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
