LOCAL_CUSTOMER_EMAIL=CHANGE_ME_LOCAL_EMAIL
LOCAL_CUSTOMER_PASSWORD_HASH=CHANGE_ME_LOCAL_HASH
LOCAL_CUSTOMER_TENANT_CODE=CHANGE_ME_LOCAL_TENANT
JWT_SECRET=CHANGE_ME_LOCAL_JWT_SECRET
POSTGRES_DB=customer_local_db
POSTGRES_USER=customer_local_user
POSTGRES_PASSWORD=customer_local_pass
