tunnel: CHANGE_ME_TUNNEL_ID
credentials-file: /etc/cloudflared/CHANGE_ME_TUNNEL_ID.json

ingress:
  - hostname: cliente-reale.greenbrain.it
    service: http://host.docker.internal:8088
  - service: http_status:404
